@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="Name" class="form-label">Customer Name</label>
        <input type="text" class="form-control" name="Name" value="">
    </div>

    <div class="mb-3">
        <label for="CustomerPostalCode" class="form-label">Customer Postal Code</label>
        <input type="number" class="form-control" name="CustomerPostalCode" value="">
    </div>
    <div class="mb-3">
        <label for="City" class="form-label">Customer City</label>
        <input type="text" class="form-control" name="City" value="">
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Customer Email</label>
        <input type="Email" class="form-control" name="Email" value="">
    </div>
    
    <div class="mb-3">
        <label for="Location" class="form-label">Customer Location</label>
        <input type="text" class="form-control" name="Location" value="">
    </div>
    
    <div class="mb-3">
        <label for="Phone" class="form-label">Customer Phone</label>
        <input type="text" class="form-control" name="Phone" value="">
    </div>
    
    <div class="mb-3">
        <label for="Phone" class="form-label">Customer Phone</label>
        <input type="text" class="form-control" name="Phone" value="">
    </div>
    
    <div class="mb-3">
        <label for="Mobile" class="form-label">Customer Mobile</label>
        <input type="text" class="form-control" name="Mobile" value="">
    </div>
    
    
    <div class="mb-3">
        <label class="form-label">Customer Image</label>
        <input type="file" class="form-control" name="Image" value="" >
    </div>
    
    
    <div class="mb-3">
        <label class="form-label">Customer Comment</label>
        <input type="text" class="form-control" name="Comment" value="" >
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
