@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model EmployeeManagement.Models.CustomerViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CustomerPostalCode" class="form-label">Customer Postal Code</label>
                <input asp-for="CustomerPostalCode" class="form-control" />
                <span asp-validation-for="CustomerPostalCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="City" class="form-label">Customer City</label>
                <input asp-for="City" type="text" class="form-control">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Customer Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Location" class="form-label">Customer Location</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

        <div class="mb-3">
            <label asp-for="Phone" class="form-label">Customer Phone</label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="Mobile" class="form-label">Customer Mobile</label>
            <input asp-for="Mobile" class="form-control" />
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label class="form-label">Customer Image</label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>


    <div class="mb-3">
        <label asp-for="Comment" class="form-label">Customer Comment</label>
        <input asp-for="Comment" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
